.editProfileContainer {
  width: 55vw;
  margin-top: 12vh;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
}

.profilePhoto {
  border: 2px solid #b8ea4f;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  height: 125px;
  width: 125px;
  background-image: url("../../Images/ProfilePic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: auto;
  margin-top: 10%;
}

.imageUpload {
  width: 35%;
  margin: auto;
}

.save {
  color: black;
  background-color: #b8ea3f;
  border-radius: 20px;
  font-weight: 500;
}

.save:hover {
  color: white;
  background-color: black;
}

.cancelButton {
  background-color: #D3D3D3;
  color: black;
  border-radius: 20px;
  font-weight: 500;
}

.cancelButton:hover {
  color: white;
  background-color: black;
}

.informationContainer {
  display: flex;
  justify-content: space-between;
}

.leftColumn {
  text-align: left;
  width: 45%;
}

.rightColumn {
  text-align: left;
  width: 45%;
}

.input {
  width: 100%;
}

input.form-control {
  border-radius: 20px;
}

select.form-select {
  border-radius: 20px;
}

#basic-addon1 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#basic-addon2 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.form-control:focus {
  border-color: #b8ea3f;
  /* Replace "red" with your desired border color */
  box-shadow: none;
  /* Optional: Remove the default box shadow */
  border-width: 2px;
}

.form-select:focus {
  border-color: #b8ea3f;
  /* Replace "red" with your desired border color */
  border-width: 2px;
  /* Increase the border width to your desired value */
  box-shadow: none;
  /* Optional: Remove the default box shadow */
}

label {
  font-weight: 500;
}
