.signupContainer {
    width: 50vw;
}

.inputContainer {
    display: flex;
}

.input {
    width: 50%;
}

.submit {
    background-color: #B8EA3F;
    width: 100%;
    border-radius: 20px;
    color: black;
    font-weight: 500;
}

.submit:hover {
    background-color: black;
    color: white;
}

/* .react-datepicker {
    width: 100%;
} */

/* .react-datepicker__input-container {
    display: block;
    position: relative;
} */

/* .react-datepicker__input-container input:focus {
    /* border-color: #B8EA3F; */
/* Replace "#b8ea4f" with your desired border color */
/* outline: none; */
/* Optional: Remove the default focus outline */
/* } */

/* .react-datepicker__input-container input {
    width: 182%;
    height: 38px;
    padding: 8px;
} */

input.form-control {
    border-radius: 20px;
}

select.form-select {
    border-radius: 20px;
}

#basic-addon1 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#basic-addon2 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.form-control:focus {
    border-color: #B8EA3F;
    /* Replace "red" with your desired border color */
    box-shadow: none;
    /* Optional: Remove the default box shadow */
    border-width: 2px;
}

.form-select:focus {
    border-color: #B8EA3F;
    /* Replace "red" with your desired border color */
    border-width: 2px;
    /* Increase the border width to your desired value */
    box-shadow: none;
    /* Optional: Remove the default box shadow */
}

.userIcon {
    color: white;
    height: 5rem;
    width: 5rem;
}

.signUpHeadingText {
    font-family: 'Poppins', sans-serif;
    color: white;
}

.createAccount {
    font-size: 2rem;
    font-weight: bold;
}

.detailsText {
    font-size: 1rem;
    color: #B8EA3F;
    font-weight: 200;
}

.signUpHeading {
    display: flex;
    justify-content: center;
}

.signupLine {
    height: 1px;
    width: 100%;
    background-color: #B8EA3F;
}