footer {
  background-color: black;
  width: 100%;
  height: 5vh;
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  color: #cccccc;
}

.companySection {
  display: flex;
  align-items: center;
}

.companyText {
  margin: auto;
}

.facebookIcon {
  color: #3b5998;
}

.youtubeIcon {
  color: #ff0000;
}

.twitterIcon {
  color: #00acee;
}
