.lifetimeContainer {
    width: 40vw;
    margin-top: 12vh;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins", sans-serif;
}

.profilePhoto {
    border: 2px solid #b8ea4f;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    height: 125px;
    width: 125px;
    background-image: url("../Images/ProfilePic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 10%;
}


.playerName {
    font-size: 1.5rem;
    font-weight: bold;
}

.level {
    font-size: 1.2rem;
    font-weight: 500;
}

.poynts {
    font-size: 1.2rem;
    font-weight: 500;
}

.informationContainer {
    display: flex;
    justify-content: space-between;
}

.subHeading
{
    display: flex;
    justify-content: center;
}

.createMatch
{
    background-color: #B8EA3F;
    border-radius: 20px;
    color: black;
    font-weight: 500;
}

.createMatch:hover{
    background-color: black;
    color: white;
}

.subHeading2{
    font-size: 1.2rem;
    font-weight: 500;
}